<ng-template #payments let-modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Pagos</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class=" table-responsive">
        <table class=" table align-items-center table-flush">
            <thead class=" thead-light">
                <tr>
                    <th class="text-uppercase sort" data-sort="project" scope="col" *ngFor="let element of [
                            'Código de referencia',
                            'Monto',
                            'Descripción',
                            'Comprobante de pago'
                        ]">
                        {{element}}
                    </th>
                </tr>
            </thead>
            <tbody class=" list">
                <tr *ngFor="let item of ( order.payments ) ;index as i">
                    <td class="budget">{{item.code}}</td>
                    <td class="budget">{{item.amount}}</td>
                    <td class="budget">{{item.description}}</td>
                    <td class="budget">
                        <!-- (click)="openGallery(item,gallery)" -->
                        <a class=" avatar avatar-xlg rounded-circle mr-3" href="javascript:void(0)"
                            ngbTooltip="Comprobante de pago">
                            <img alt="Comprobante de pago" style="width: 100%;height: 100%;"
                                [src]="item.image?item.image:'https://www.tibs.org.tw/images/default.jpg'" />
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class=" modal-footer">
        <div class="d-flex w-100">
            <div class="mr-auto">
                <button (click)="c('Close click')" class=" btn btn-link " data-dismiss="modal" type="button">
                    Cerrar
                </button>
            </div>
        </div>

    </div>
</ng-template>
<div class=" container-fluid py-4">
    <div class=" row">
        <div class=" col">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center" style="margin-bottom: 10px;">
                        <div class="col">
                            <h3 class=" mb-0">Lista de pedidos</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input class="form-control" placeholder="Buscar pedido..." [(ngModel)]="searchTable">
                        </div>
                    </div>
                </div>
                <div class=" table-responsive">
                    <table class=" table align-items-center table-flush">
                        <thead class=" thead-light">
                            <tr>
                                <th class="text-uppercase sort" data-sort="project" scope="col"
                                    *ngFor="let element of headerElements">
                                    {{element}}
                                </th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class=" list">
                            <tr *ngFor="let item of ( paginateOrders  | genericFilter: searchTable ) ;index as i">
                                <td class="budget">{{item.user?item.user.name:'Sin usuario'}}</td>
                                <td class="budget">
                                    <ng-container *ngFor="let detail of ( item.details )">
                                        <div>
                                            <span class="badge badge-pill text-uppercase badge-success text-white">
                                                {{detail.quantity}} x {{detail.product.name}}, talla {{detail.size}}
                                            </span>
                                        </div>
                                    </ng-container>
                                </td>
                                <td class="budget">
                                    <ng-multiselect-dropdown name="status" [placeholder]="'Status'"
                                        [data]="['pendiente','en revisión','aprobado, por enviar','recibido']"
                                        [ngModel]="item.status" [settings]="dropdownSettings" [disabled]="false">
                                    </ng-multiselect-dropdown>
                                </td>
                                <td class=" budget">
                                    <a class="table-action table-action-delete" ngbTooltip="Ver pagos" placement="top"
                                        href="javascript:void(0)" (click)="openPayments(item,payments)">
                                        <i class="fa fa-eye"> </i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class=" card-footer border-0">
                    <div class="pagination-container">
                        <ngb-pagination [collectionSize]="orders.length" #numPages [pageSize]="itemsPerPage"
                            [(page)]="currentPage" (pageChange)="onPageChange(currentPage)"
                            [disabled]="searchTable.length">
                        </ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>