<div class=" header bg-danger pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-white d-inline-block mb-0">{{rol.id ? 'Actualizar rol' : 'Crear rol'}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" container-fluid mt--15">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class=" card mb-4">
                <div class=" card-header">
                    <h3 class=" mb-0">Formulario</h3>
                </div>
                <div class=" card-body">
                    <div class=" form-group">
                        <label class=" form-control-label" for="example2cols1Input">
                            One of two cols
                        </label>
                        <input class=" form-control" id="example2cols1Input" placeholder="One of two cols"
                            type="text" />
                    </div>
                    <div class=" form-group">
                        <label class=" form-control-label" for="example2cols2Input">
                            One of two cols
                        </label>
                        <textarea name="" id="" cols="30" rows="10" class=" form-control" id="example2cols2Input"
                            placeholder="One of two cols"></textarea>
                    </div>
                </div>
                <div class="card-footer justify-content-end">
                    <button type="submit" class="btn btn-primary"> Submit form </button>
                </div>
            </div>
        </div>
    </div>
</div>