<div class=" header bg-danger pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-white d-inline-block mb-0">{{order.id ? 'Actualizar pedido' : 'Crear pedido'}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" container-fluid mt--15">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class=" card mb-4">
                <div class=" card-header">
                    <h3 class=" mb-0">Formulario</h3>
                </div>
                <div class=" card-body">
                    <div class=" form-group">
                        <label class=" form-control-label" for="message">
                            Mensaje
                        </label>
                        <textarea class=" form-control" id="message" placeholder="Mensaje"
                            type="text" [(ngModel)]="order.message">
                        </textarea>
                    </div>
                </div>
                <div class="card-footer justify-content-end">
                    <button type="submit" class="btn btn-primary" (click)="save()"> {{order.id ? 'Actualizar' : 'Crear'}} </button>
                </div>
            </div>
        </div>
    </div>
</div>