::ng-deep body {
    overflow-x: hidden;
}
::ng-deep .modal-backdrop {
    z-index: 1050 !important;
}
::ng-deep .ngx-gallery { 
    display: inline-block; 
    margin-bottom: 20px;
}
::ng-deep .headroom--not-top .dropdown .dropdown-item,
::ng-deep .headroom--not-top .nav-item .nav-link .nav-link-inner--text,
::ng-deep .headroom--not-top .nav-item .nav-link i {
    color: #fff;
}

::ng-deep .headroom--not-top .dropdown .dropdown-item:hover{
    background-color: transparent;
}
::ng-deep .headroom--not-top .dropdown .dropdown-menu .dropdown-item{
    color: #000;
}
::ng-deep .rounded{
    height: 600px;
}
::ng-deep .rounded .carousel .carousel-indicators{
    bottom: 10px;
}
::ng-deep .rounded .carousel .carousel-item{
    height: 600px;
}
::ng-deep .rounded .carousel .img-fluid{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
::ng-deep .badge-warning {
    color: #fff;
}
::ng-deep .custom-toggle-checkbox .rounded-circle {
    border-radius: 34px !important;
}
::ng-deep .table-td .dropdown-list {
    position: relative !important;
}
::ng-deep .upload-img{    
    object-fit: cover;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}
::ng-deep .avatar-upload {
    position: relative;
    max-width: 205px;
    margin: auto;
    margin-bottom: 20px;
}
::ng-deep .avatar-upload .avatar-edit {
    position: absolute;
    right: 30px;
    z-index: 1;
    top: 0px;
    input {
        display: none;
        + label {
            display: inline-block;
            width: 34px;
            height: 34px;
            margin-bottom: 0;
            border-radius: 100%;
            background: #FFFFFF;
            border: 1px solid #d2d6de;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
            cursor: pointer;           
            font-weight: normal;
            transition: all .2s ease-in-out;
            &:hover {
                background: #f1f1f1;
                border-color: #d6d6d6;
            }
            &:after {
                content: "+";
                font-family: 'FontAwesome';
                color: #337AB7;
                position: absolute;
                left: 0;
                right: 0;
                text-align: center;
                line-height: 34px;
                margin: auto;
            }
        }
    }
}