::ng-deep body {
    overflow-x: hidden;
}
::ng-deep .modal-backdrop {
    z-index: 1050 !important;
}
::ng-deep .ngx-gallery { 
    display: inline-block; 
    margin-bottom: 20px;
}
::ng-deep .headroom--not-top .dropdown .dropdown-item,
::ng-deep .headroom--not-top .nav-item .nav-link .nav-link-inner--text,
::ng-deep .headroom--not-top .nav-item .nav-link i {
    color: #fff;
}

::ng-deep .headroom--not-top .dropdown .dropdown-item:hover{
    background-color: transparent;
}
::ng-deep .headroom--not-top .dropdown .dropdown-menu .dropdown-item{
    color: #000;
}
::ng-deep .rounded{
    height: 600px;
}
::ng-deep .rounded .carousel .carousel-indicators{
    bottom: 10px;
}
::ng-deep .rounded .carousel .carousel-item{
    height: 600px;
}
::ng-deep .rounded .carousel .img-fluid{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
::ng-deep .badge-warning {
    color: #fff;
}
