<ng-container *ngFor="let section of sections;index as i;">
  <ng-container *ngIf="section.key == 'services' && section.active">
    <section class="section section-lg">
      <div class="container">
        <div class="row row-grid align-items-center" style="min-height: 600px;">
          <ng-container *ngIf="section.image_side">
            <div class="col-md-6 order-md-2">
              <img src="{{section.image_side}}" class="img-fluid floating">
            </div>
          </ng-container>
          <ng-container *ngIf="
              section.icon_side || 
              section.icon_side_theme ||
              section.title_side || 
              section.description_side || 
              section.list_items.length">
            <div class="col-md-6 order-md-1">
              <div class="pr-md-5">
                <ng-container *ngIf="section.icon_side && section.icon_side_theme">
                  <div
                    class="icon icon-lg icon-shape icon-shape-{{section.icon_side_theme}} shadow rounded-circle mb-5">
                    <i class="{{section.icon_side}}"></i>
                  </div>
                </ng-container>
                <ng-container *ngIf="section.title_side">
                  <h3>{{section.title_side}}</h3>
                </ng-container>
                <ng-container *ngIf="section.description_side">
                  <p>{{section.description_side}}</p>
                </ng-container>
                <ng-container *ngIf="section.list_items.length">
                  <ul class="list-unstyled mt-5">
                    <ng-container *ngFor="let listItem of section.list_items;index as i;">
                      <li class="py-2">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-{{listItem.theme}} mr-3 d-flex">
                              <i class="{{listItem.icon}}"></i>
                            </div>
                          </div>
                          <div>
                            <h6 class="mb-0">{{listItem.text}}</h6>
                          </div>
                        </div>
                      </li>
                    </ng-container>
                  </ul>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </section>
  </ng-container>
  <ng-container *ngIf="section.key == 'designs' && section.active">
    <section class="section  section-lg {{section.theme ? 'bg-'+(section.theme) : ''}}">
      <div class="container">
        <div class="row row-grid align-items-center">
          <ng-container *ngIf="
              section.icon_side || 
              section.icon_side_theme ||
              section.title_side || 
              section.description_side || 
              section.list_items.length">
            <div class="col-md-6">
              <div class="pl-md-5">
                <ng-container *ngIf="section.icon_side && section.icon_side_theme">
                  <div
                    class="icon icon-lg icon-shape icon-shape-{{section.icon_side_theme}} shadow rounded-circle mb-5">
                    <i class="{{section.icon_side}}"></i>
                  </div>
                </ng-container>
                <ng-container *ngIf="section.title_side">
                  <h3>{{section.title_side}}</h3>
                </ng-container>
                <ng-container *ngIf="section.description_side">
                  <p class="lead">{{section.description_side}}</p>
                </ng-container>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="section.cards.length">
            <div class="col-md-6">
              <div class="card bg-default shadow border-0">
                <img src="{{section.cards[0].image}}" class="card-img-top">
                <blockquote class="card-blockquote">
                  <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
                    class="svg-bg">
                    <polygon points="0,52 583,95 0,95" class="fill-default" />
                    <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
                  </svg>
                  <h4 class="display-3 font-weight-bold text-white">{{section.cards[0].title}}</h4>
                  <p class="lead text-italic text-white">
                    {{section.cards[0].description}}
                  </p>
                </blockquote>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </section>
  </ng-container>
  <ng-container *ngIf="section.key == 'impressions' && section.active">
    <section class="section section-lg {{section.theme ? 'bg-'+(section.theme) : ''}}">
      <div class="container">
        <div class="row row-grid align-items-center">

          <ng-container *ngIf="section.carousel_items.length">
            <div class="col-md-6 order-lg-2 ml-lg-auto">
              <div class="rounded shadow-lg overflow-hidden transform-perspective-right bootstrap-slider">
                <ngb-carousel>
                  <ng-template ngbSlide *ngFor="let carrousel of section.carousel_items;index as i;">
                    <img class="img-fluid" src="{{carrousel.image}}" alt="{{i}} slide">
                  </ng-template>
                </ngb-carousel>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="
            section.icon_side || 
            section.icon_side_theme || 
            section.title_side || 
            section.description_side || 
            section.cards.length">
            <div class="col-lg-6 order-lg-1 mt-0">
              <div class="d-flex px-3">
                <ng-container *ngIf="section.icon_side && section.icon_side_theme">
                  <div>
                    <div
                      class="icon icon-lg icon-shape icon-shape-{{section.icon_side_theme}} shadow rounded-circle mb-5">
                      <i class="{{section.icon_side}}"></i>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="section.title_side && section.description_side">
                  <div class="pl-4">
                    <h4 class="display-3 text-white">{{section.title_side}}</h4>
                    <p class="text-white">{{section.description_side}}</p>
                  </div>
                </ng-container>
              </div>
              <ng-container *ngFor="let card of section.cards;index as i;">
                <div class="card shadow shadow-lg--hover mt-5">
                  <div class="card-body">
                    <div class="d-flex px-3">
                      <ng-container *ngIf="card.theme">
                        <div>
                          <div class="icon icon-shape bg-gradient-{{card.theme}} rounded-circle text-white">
                            <i class="ni ni-satisfied"></i>
                          </div>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="(card.title && card.theme) || card.description ">
                        <div class="pl-4">
                          <h5 class="title text-{{card.theme}}">{{card.title}}</h5>
                          <p>{{card.description}}</p>
                          <!-- <a href="javascript:void(0)" class="text-success">Learn more</a> -->
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </section>
  </ng-container>
  <ng-container *ngIf="section.key == 'quotes' && section.active">
    <section class="section section-lg {{section.theme ? 'bg-'+(section.theme) : ''}}">
      <div class="container">
        <div class="row row-grid align-items-center">
          <ng-container *ngIf="section.cards.length">
            <div class="col-md-6">
              <div class="card bg-default shadow border-0">
                <img src="{{section.cards[0].image}}" class="card-img-top">
                <blockquote class="card-blockquote">
                  <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
                    class="svg-bg">
                    <polygon points="0,52 583,95 0,95" class="fill-default" />
                    <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
                  </svg>
                  <h4 class="display-3 font-weight-bold text-white">{{section.cards[0].title}}</h4>
                  <p class="lead text-italic text-white">
                    {{section.cards[0].description}}
                  </p>
                </blockquote>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="
              section.icon_side || 
              section.icon_side_theme ||
              section.title_side || 
              section.description_side || 
              section.list_items.length">
            <div class="col-md-6">
              <div class="pl-md-5">
                <ng-container *ngIf="section.icon_side && section.icon_side_theme">
                  <div
                    class="icon icon-lg icon-shape icon-shape-{{section.icon_side_theme}} shadow rounded-circle mb-5">
                    <i class="{{section.icon_side}}"></i>
                  </div>
                </ng-container>
                <ng-container *ngIf="section.title_side">
                  <h3>{{section.title_side}}</h3>
                </ng-container>
                <ng-container *ngIf="section.description_side">
                  <p class="lead">{{section.description_side}}</p>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </section>
  </ng-container>
  <ng-container *ngIf="section.key == 'clothing' && section.active">
    <section class="section section-lg {{section.theme ? 'bg-'+(section.theme) : ''}}">
      <div class="container">
        <div class="row row-grid align-items-center">

          <ng-container *ngIf="section.carousel_items.length">
            <div class="col-md-6 order-lg-2 ml-lg-auto">
              <div class="rounded shadow-lg overflow-hidden transform-perspective-right bootstrap-slider">
                <ngb-carousel>
                  <ng-template ngbSlide *ngFor="let carrousel of section.carousel_items;index as i;">
                    <img class="img-fluid" src="{{carrousel.image}}" alt="{{i}} slide">
                  </ng-template>
                </ngb-carousel>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="
            section.icon_side || 
            section.icon_side_theme || 
            section.title_side || 
            section.description_side || 
            section.cards.length">
            <div class="col-lg-6 order-lg-1 mt-0">
              <div class="d-flex px-3">
                <ng-container *ngIf="section.icon_side && section.icon_side_theme">
                  <div>
                    <div
                      class="icon icon-lg icon-shape icon-shape-{{section.icon_side_theme}} shadow rounded-circle mb-5">
                      <i class="{{section.icon_side}}"></i>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="section.title_side && section.description_side">
                  <div class="pl-4">
                    <h4 class="display-3 text-white">{{section.title_side}}</h4>
                    <p class="text-white">{{section.description_side}}</p>
                  </div>
                </ng-container>
              </div>
              <ng-container *ngFor="let card of section.cards;index as i;">
                <div class="card shadow shadow-lg--hover mt-5">
                  <div class="card-body">
                    <div class="d-flex px-3">
                      <ng-container *ngIf="card.theme">
                        <div>
                          <div class="icon icon-shape bg-gradient-{{card.theme}} rounded-circle text-white">
                            <i class="ni ni-satisfied"></i>
                          </div>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="(card.title && card.theme) || card.description ">
                        <div class="pl-4">
                          <h5 class="title text-{{card.theme}}">{{card.title}}</h5>
                          <p>{{card.description}}</p>
                          <!-- <a href="javascript:void(0)" class="text-success">Learn more</a> -->
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </section>
  </ng-container>
  <ng-container *ngIf="section.key == 'catalog' && section.active">
    <section class="section section-lg {{section.theme ? 'bg-'+(section.theme) : ''}}">
      <div class="container container-lg ng-star-inserted">
        <ng-container *ngIf="section.title && section.description">
          <div class="row justify-content-center text-center mb-lg ">
            <div class="col-lg-8">
              <h2 class="display-3 text-white">{{section.title}}</h2>
              <p class="lead text-white">{{section.description}}</p>
            </div>
          </div>
        </ng-container>        
        <ng-container *ngIf="section.product_cards.length">
          <div class="row">
            <ng-container *ngFor="let card of section.product_cards;index as i;">
              <div class="col-md-4 mb-5 mb-md-0">
                <div class="card card-lift--hover shadow border-0">
                  <a title="Landing Page" href="#/landing">
                    <ng-container *ngIf="card.product.images[0]">
                      <img src="{{card.product.images[0].url}}" class="card-img">
                    </ng-container>
                  </a>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
        <ng-container *ngIf="section.cards.length">
          <div class="card bg-gradient-{{section.cards[0].theme}} shadow-lg border-0 mt-lg">
            <div class="p-5">
              <div class="row align-items-center">
                <div class="col-lg-8">
                  <h3 class="text-white">{{section.cards[0].title}}</h3>
                  <p class="lead text-white mt-3">{{section.cards[0].description}}</p>
                </div>
                <div class="col-lg-4 ml-lg-auto"><a [routerLink]="['/main/products']"
                    class="btn btn-lg btn-block btn-{{section.cards[0].theme}} text-white">Ver más productos</a></div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100"><svg x="0" y="0" viewBox="0 0 2560 100"
          preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon points="2560 0 2560 100 0 100" class="fill-white"></polygon>
        </svg></div>
    </section>
  </ng-container>
  <ng-container *ngIf="section.key == 'promotions' && section.active">
    <section class="section section-lg">
      <div class="container">
        <ng-container *ngIf="section.title || section.description">
          <div class="row justify-content-center text-center mb-lg">
            <div class="col-lg-8">
              <h2 class="display-3">{{section.title}}</h2>
              <p class="lead text-muted">{{section.description}}</p>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="section.carousel_items.length">
          <div class="promotions-carousel">
            <ngb-carousel>
              <ng-container *ngFor="let item of section.carousel_items;index as i;">
                <ng-template ngbSlide>
                  <div class="card bg-gradient-danger border-0 mt-lg w-75 m-auto">
                    <div class="row align-items-center">
                      <div class="col-lg-6">
                        <div class="p-5">
                          <h3 class="text-white">{{item.title}}</h3>
                          <p class="lead text-white mt-3">{{item.description}}</p>
                        </div>
                      </div>
                      <div class="col-lg-6 ml-lg-auto">
                        <img class="img-fluid" src="{{item.image}}" alt="image {{i}}">
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </ngb-carousel>
          </div>
        </ng-container>
      </div>
    </section>
  </ng-container>
  <ng-container *ngIf="section.key == 'contact-us' && section.active">
    <section class="section section-lg ">
      <ng-container *ngIf="section.title || section.description">
        <div class="bg-gradient-default">
            <div class="container pt-lg pb-200">
              <div class="row text-center justify-content-center">
                <div class="col-lg-10">
                  <h2 class="display-3 text-white">{{section.title}}</h2>
                  <p class="lead text-white my-5">{{section.description}}</p>
                </div>
              </div>
            </div>
        </div>
      </ng-container>
      <div class="pt-lg-0 section-contact-us">
        <div class="container">
          <div class="row justify-content-center {{section.title || section.description ? 'mt--200' : ''}}">
            <div class="col-lg-8">
              <div class="card bg-gradient-secondary shadow">
                <div class="card-body p-lg-5">
                  <div class="form-group " [ngClass]="{'focused':focus===true}">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-user-run"></i></span>
                      </div>
                      <input class="form-control" placeholder="Su nombre" type="text" (focus)="focus=true"
                        (blur)="focus=false">
                    </div>
                  </div>
                  <div class="form-group" [ngClass]="{'focused':focus1===true}">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      <input class="form-control" placeholder="Dirección de correo electrónico" type="email" (focus)="focus1=true"
                        (blur)="focus1=false">
                    </div>
                  </div>
                  <div class="form-group mb-4">
                    <textarea class="form-control form-control-alternative" name="name" rows="4" cols="80"
                      placeholder="Escribe tu mensaje..."></textarea>
                  </div>
                  <div>
                    <button type="button" class="btn btn-info btn-round btn-block btn-lg">Enviar mensaje</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-container>
</ng-container>